/node_modules/
/.vs/
/.vscode/
/target/
/logs/
/dist/
/site/
/pack/schemas/
/pack/.cache/
/pack/servers/NewPlay-1.21.4/files/shaderpacks/*.zip
!/pack/servers/NewPlay-1.21.4/files/shaderpacks/.gitkeep
